version: '3.9'
services:
  backend:
    build: ./backend
    container_name: three-tier-backend 
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app 
    restart: always

  frontend:
    build: ./frontend
    container_name: three-tier-frontend 
    ports:
      - "8081:80"
    depends_on:
      - backend
    restart: always